<mat-grid-list cols = "12" rowHeight = "100px" *ngFor="let post of post" class="grid-list">
        <mat-grid-tile 
        [colspan] = "1"
        [rowspan] = "1" style="border: 1px solid black">
        </mat-grid-tile>
        <mat-grid-tile 
        [colspan] = "1"
        [rowspan] = "1" style="border: 1px solid black">2
        </mat-grid-tile>
        <mat-grid-tile 
        [colspan] = "10"
        [rowspan] = "1" style="border: 1px solid black">{{ post.title }}
        </mat-grid-tile>
        <mat-grid-tile 
        [colspan] = "12"
        [rowspan] = "6" style="border: 1px solid black">4
        </mat-grid-tile>
        <mat-grid-tile 
        [colspan] = "1"
        [rowspan] = "1" style="border: 1px solid black">4
        </mat-grid-tile>
        <mat-grid-tile 
        [colspan] = "9"
        [rowspan] = "1" style="border: 1px solid black">4
        </mat-grid-tile>
        <mat-grid-tile 
        [colspan] = "2"
        [rowspan] = "1" style="border: 1px solid black">3
        </mat-grid-tile>
        