<div class="container" dir="rtl" *ngFor = "let post of post">

    <div class="row" *ngIf="post.id == href.id">

        <!-- profile section -->
        <div class="col-sm-3" style="border: 1px solid black">

            <div *ngFor="let user of user">
                <div *ngIf="post.userId == user.id" class="profile">
                        <img src="{{user.avatar}}">
                        <p><label>نام : </label>{{user.name}}</p>
                        <p><label>پست الکترونیک : </label>{{user.email}}</p>
                        <p><label>وب سایت : </label>{{user.website}}</p>
                        <p><label>شرکت : </label>{{user.company}}</p>
                    </div>
                </div>

            </div>

        <!-- comments section -->
        <div class="col-sm-8 comment" style="border: 1px solid black">

            <div *ngFor="let user of user" class="postSection">
                <div *ngIf="post.userId == user.id">
                    <p class="title">{{post.title}}</p>
                    </div>
                <div *ngIf="post.userId == user.id">
                        <p class="body">{{post.body}}</p>
                        </div>
                <div *ngIf="post.userId == user.id" class="like">
                        <p class="name">{{user.name}}</p>
                        <button (click) = "increment()">like</button><button (click) = "decrement()">dislike</button>
                    </div>
                </div>
                
            <p style="text-align:center;margin-top: 40px" >نظرات(۵)</p>

            <div *ngFor="let comment of comment" class="commentSection">
                <div *ngIf="href.id == comment.postId">
                        <img src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png" style="height: 40px; width: 40px;margin-left:700px;">
                        <p style="text-align: right;margin-top: 20px;">{{comment.name}}</p>
                        <p style="text-align: center">{{comment.body}}</p>
                        <p>{{comment.email}}</p>
                    </div>
                    
                </div>

            </div>

        </div>

    </div>

