.profile img {
    border-radius: 70px;
    margin-left: 50px;
}

.profile p {
    text-align: center;
}

.profile label {
    display:block;
    width:x;
    height:y;
    text-align:right;
}

.title {
    text-align: right;
    margin-top: 30px;
    margin-bottom: 30px;
}

.body {
    text-align: center;
}

.name {
    text-align: right;
    margin-top: 30px;
    margin-bottom: 30px;
}

.post {
    margin-top: 100px;
}

.comment {
    margin-right: 60px;
}

.commentSection {
    margin-top: 40px;
}
